@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root {
  --primary-color: #38a2cf;
  --secondary-color: white;
  --accent1-color: #001212;
  --accent2-color: #ecc867;
  --heading-font: 'Freeman', sans-serif;
  --paragraph-font: 'Freeman', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  gap: 70px; 
  padding: 1rem; 
  background-color: #f3d37d;
}

.header img {
  width: 250px;
  margin-left: 5rem;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  width: 90px;
  color: #333; 
  border: 1px solid #050202;
  text-align: center;
  background-color: rgb(189, 237, 224);
}

.nav a:hover {
  color: #007bff; 
}

a {
  text-decoration: none;
  padding: 5px;
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer p {
  margin-left: 55px;
  flex: 1; 
  text-align: center; 
}

.footer .socialmedia {
  margin-top: 15px; 
}

.footer .socialmedia a {
  text-decoration: none;
  margin-right: 10px; 
  padding: 5px;
}

.footer .socialmedia a:last-child {
  margin-right: 0; 
}

.footer .socialmedia a img {
  width: 35px;
  height: 35px;
}

.contact-info {
  text-align: center;
  margin: 20px 0;
}

.contact-info h1 {
  color: var(--primary-color);
}

.contact-info p {
  margin: 10px 0;
}

.contact-info .map {
  margin: 20px 0;
}

.employee-profiles {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
  }
  
  .employee-profiles h2 {
    color: var(--primary-color);
  }
  
  .employee-profiles .profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .employee-profiles figure {
    margin: 10px;
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1; 
  }
  
  .employee-profiles img {
    max-width: 80%; 
    height: 80%;
    border-radius: 50%;
  }
  

.contact-form {
  background-color: #e0f7fa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.contact-form h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: var(--accent1-color);
}