@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root {
  --primary-color: #38a2cf;
  --secondary-color: white;
  --accent1-color: #001212;
  --accent2-color: #ecc867;

  --heading-font: 'Freeman', sans-serif;
  --paragraph-font: 'Freeman', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  gap: 70px; 
  padding: 1rem; 
  background-color: #f3d37d;
}

.header img{
  width: 250px;
  margin-left: 5rem;
}

.nav {
  display:flex;
  justify-content:flex-start 
}

.nav a {
  text-decoration: none;
  padding: 10px;
  width: 90px;
  color: #333; 
  border: 1px solid #050202;
  text-align: center;
  background-color: rgb(189, 237, 224);
}

.nav a:hover {
  color: #007bff; 
}

a{
    text-decoration: none;
    padding: 5px;
}

h1{
    font-family: var(--heading-font);
    color: var(--primary-color);

}

.hero {
  position: relative; 
  overflow: hidden; 
}

.hero img {
  display: block; 
  margin-top: 1rem;
  width: 100%; 
}

.hero h1 {
  position: absolute;
  top: 20%;
  text-align:center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;

}

.hero article {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 70%; 
  background-color: rgba(15, 129, 182, 0.7); 
  padding: 15px;
  color: white; 
}

.hero article img {
  float:right; 
  height: 150px;
  width: 250px;
  margin-left: 10px; 
}

.history {
  background-color: #8cc4f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.history h2 {
  color: #ff7700;
  margin-bottom: 10px;
}

.history img {
  height: 200px;
  margin-bottom: 10px;
}

.history-content {
  display: flex;
  justify-content: left;
  align-items:center;
  flex-wrap: wrap;
}

.history-content p {
  flex-basis: 100%; /* Each paragraph takes full width initially */
  text-align:left; 
  margin: 10px 0;
}

.adventure {
  background-color: #8cc4f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.adventure h2 {
  color: #ff7700;
  margin-top: -5px;
}

.adventure img {
  max-width: 100%; /* Adjust image width */
  height: 110px; /* Set a fixed height for consistency */
  margin-bottom: 10px;
}

.adventure-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adventure-content div {
  margin: 10px; 
  text-align: center;
}

.adventure-content p {
  margin: 5px 0; 
}

.footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer p {
  margin-left: 55px;
  flex: 1; 
  text-align: center; 
}

.footer .socialmedia {
  margin-top: 15px; 
}

.footer .socialmedia a {
  text-decoration: none;
  margin-right: 10px; 
  padding: 5px;
}

.footer .socialmedia a:last-child {
  margin-right: 0; 
}

.footer .socialmedia a img {
  width: 35px;
  height: 35px;
}
