@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root {
  --primary-color: #38a2cf;
  --secondary-color: white;
  --accent1-color: #001212;
  --accent2-color: #ecc867;

  --heading-font: 'Freeman', sans-serif;
  --paragraph-font: 'Freeman', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

a{
    text-decoration: none;
}

h1{
    font-family: var(--heading-font);
    color: var(--primary-color);

}

.hero {
  position: relative; 
  overflow: hidden; 
}

.hero img {
  display: block; 
  width: 100%; 
}

.hero h1 {
  position: absolute;
  top: 15%;
  text-align:center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;

}

.hero article {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 70%; 
  background-color: rgba(15, 129, 182, 0.7); 
  padding: 15px;
  color: white; 
}

.hero article img {
  float:right; 
  height: 150px;
  width: 250px;
  margin-left: 10px; 
}

h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
  color: var(--accent1-color);
}

section img{
    max-width: 500px;
    height: auto;
}

footer .socialmedia a {
    text-decoration: none; 
    margin-top: 15px;
    text-align: center;
    padding: 5px;
  }

footer .socialmedia a img{
    width: 50px;
    height: 50px;
}