@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root {
  --primary-color: #38a2cf;
  --secondary-color: white;
  --accent1-color: #001212;
  --accent2-color: #ecc867;
  --heading-font: 'Freeman', sans-serif;
  --paragraph-font: 'Freeman', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  gap: 70px; 
  padding: 1rem; 
  background-color: #f3d37d;
}

.header img {
  width: 250px;
  margin-left: 5rem;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  width: 90px;
  color: #333; 
  border: 1px solid #050202;
  text-align: center;
  background-color: rgb(189, 237, 224);
}

.nav a:hover {
  color: #007bff; 
}

a {
  text-decoration: none;
  padding: 5px;
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.hero {
  position: relative; 
  overflow: hidden; 
}

.hero img {
  display: block; 
  margin-top: 1rem;
  width: 100%; 
}

.hero h1 {
  position: absolute;
  top: 20%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
}

.hero article {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 70%; 
  background-color: rgba(15, 129, 182, 0.7); 
  padding: 15px;
  color: white; 
}

.hero article img {
  float: right; 
  height: 150px;
  width: 250px;
  margin-left: 10px; 
}

.history {
  background-color: #8cc4f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.history h2 {
  color: #ff7700;
  margin-bottom: 10px;
}

.history img {
  height: 200px;
  margin-bottom: 10px;
}

.history-content {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.history-content p {
  flex-basis: 100%;
  text-align: left; 
  margin: 10px 0;
}

.adventure {
  background-color: #8cc4f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.adventure h2 {
  color: #ff7700;
  margin-top: -5px;
}

.adventure-content {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.adventure-content figure {
  margin: 10px;
  text-align: center;
}

.adventure-content img {
  max-width: 100%;
  height: 110px;
  margin-bottom: 5px;
}

.adventure-content figcaption {
  margin-top: 5px;
}

.footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer p {
  margin-left: 55px;
  flex: 1; 
  text-align: center; 
}

.footer .socialmedia {
  margin-top: 15px; 
}

.footer .socialmedia a {
  text-decoration: none;
  margin-right: 10px; 
  padding: 5px;
}

.footer .socialmedia a:last-child {
  margin-right: 0; 
}

.footer .socialmedia a img {
  width: 35px;
  height: 35px;
}

.contact-info {
  text-align: center;
  margin: 20px 0;
}

.contact-info h1 {
  color: var(--primary-color);
}

.contact-info p {
  margin: 10px 0;
}

.contact-info .map {
  margin: 20px 0;
}

.google-map {
  width: 600px;
  height: 450px;
  border: 0;
}

.employee-profiles {
  background-color: #f3f3f3;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.employee-profiles h2 {
  color: var(--primary-color);
}

.employee-profiles .profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; 
}

.employee-profiles figure {
  margin: 10px;
  text-align: center;
  flex-basis: 20%;
  flex-grow: 1; 
}

.employee-profiles img {
  max-width: 80%; 
  height: 80%;
  border-radius: 50%;
}

.contact-form {
  background-color: #e0f7fa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.contact-form h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: var(--accent1-color);
}

/** TRIPS CSS **/ 

.trip-call-to-action {
  text-align: center;
  margin: 20px 0;
}

.trip-call-to-action .cta-link {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

.trip-descriptions {
  margin: 20px 0;
}

.trips {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.trip {
  background-color: #f3f3f3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-basis: 27%;
  text-align: center;
}

.trip img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trip-table {
  margin: 20px 0;
}

.trip-table table {
  width: 100%;
  border-collapse: collapse;
}

.trip-table th, .trip-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.trip-table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.trip-table td {
  background-color: #f9f9f9;
}


/** INDEX CSS **/

.home-hero {
  position: relative;
  overflow: hidden;
}

.home-hero img {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}

.home-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

.newsletter-signup {
  background-color: #e0f7fa;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.newsletter-signup h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-signup .form-group {
  margin-bottom: 15px;
}

.newsletter-signup label {
  display: block;
  margin-bottom: 5px;
}

.newsletter-signup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-signup button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.newsletter-signup button:hover {
  background-color: var(--accent1-color);
}

.call-to-action {
  text-align: center;
  margin: 20px 0;
}

.call-to-action h2 {
  color: var(--primary-color);
}

.call-to-action .cta-link {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

.site-purpose {
  margin: 20px 0;
}

.site-purpose h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 5px;
}

