@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: rgb(231, 226, 221);
    color: rgb(41, 49, 49);
}

header {
    margin: 0 auto;
    width: 750px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(1, 1, 117);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgb(255, 195, 195);
    display: grid;
    grid-gap: 1rem;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    padding: 1rem;
}

legend {
    margin-bottom: 1rem;
    color: chocolate;
}

label {
    text-align: right;
    padding-right: 1rem;
}

label[for="feedback"] {
    text-align: center;
    padding: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0.5rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    width: 10rem;
    display: block;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}