@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    color: rgb(41, 49, 49);
}

header {
    margin: 0 auto;
    width: 750px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(1, 1, 117);
    text-align: center;
}

.question-number {
    color: navy;
    font-weight: bold;
    margin-right: 0.5rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgb(227, 218, 218);
    display: grid;
    grid-gap: 1rem;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    padding: 1rem;
}

legend {
    margin-bottom: 1rem;
    color: chocolate;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}

.question4_image {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    padding: 0.5rem;
}

button {
    margin: 0.5rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    width: 10rem;
    display: block;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}