* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

main{ 
    max-width: 840px;
    padding: 20px;
}

h1{
    color: steelblue;
}

img{
    width: 150px;
    height:auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    margin: 10px;
    padding: 0;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position:relative;
}

aside img{
    width: 250px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    float: right;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside h2{
    position: absolute;
    top: 15px;
    left: 100px;
}